
/* HOME STYLE*/
.main-home{
    margin: 50px 70px;
    display: flex;
}

.main-home .left-home{
    margin-left: 50px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-home .right-home {
    width: 45%;
}

.main-home .right-home img{
    width: 500px;
    height: 500px;
}

.main-home .left-home h1{
    font-size: 45px;
}

.main-home .left-home span {
    font-size: 35px;
    font-weight: 200;
    margin-bottom: 20px;
    margin-top: -25px;
}

.main-home .left-home p{
    font-size: 15px;
}

.main-home .left-home button{
    margin-left: 70px;
    width: 250px;
    height: 30px;
    background-color: #56c5be;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.btn-home a{
    color: white;
    text-decoration: none;
}